namespace TicTacToeSeleniumTests
{
    public class LoginAndPassword
    {
        public static string Login { get; internal set; } = "";
        public static string Password { get; internal set; } = "";
    }
}